@import '~font-awesome/css/font-awesome.css';
@import '~semantic-ui-css/semantic.min.css';
@import './toast.css';

body,
html {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background: linear-gradient(to right, #252439 17%, #2c5364 100%);
  color: #ccc;
  overflow: hidden;
  font-family: 'Segoe UI';
  background: linear-gradient(to right, #252439 17%, #2c5364 100%);

  /* Smoother startup */
  animation: fadein 2s;
}

main {
  flex: 1 0 auto;
}

a {
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.2s;
}
p {
  font-family: 'Segoe UI';
  font-weight: 100;
}

a:hover {
  color: white !important;
  cursor: pointer;
}

.todoTitleInput,
.todoDescriptionInput {
  font-family: 'Segoe UI';
  font-weight: 100;
  background: #2c5364;
  border: solid 1px #3f83a0;
  width: 80%;
  color: white;
  text-align: center;
  transition: all 1s;
  transition: all 0.3s, border-radius 0.2s;
}

.todoTitleInput:focus,
.todoDescriptionInput:focus {
  border: solid 1px #61c4ee;
  transform: scale(1.1);
}

.todoTitleInput:hover {
  border: solid 1px #61c4ee;
  border-radius: 0px 20px 0px 20px;
}

.todoDescriptionInput:hover {
  border: solid 1px #61c4ee;
  border-radius: 20px 0px 20px 0px;
}

*:focus {
  outline: initial;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ccc;
  opacity: 0.7; /* Firefox */
}
::-webkit-scrollbar {
  width: 9px !important;
  height: 7px !important;
}

::-webkit-scrollbar-track {
  background: #1b1c1d !important;
}

::-webkit-scrollbar-thumb {
  background: rgb(152, 155, 158) !important;
  border: 1px solid #1b1c1d !important;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgb(152, 155, 158) !important;
  color: rgb(152, 155, 158) !important;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

@keyframes zoomIn {
  from {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  50% {
    opacity: 1;
  }
}

.zoomIn {
  animation-name: zoomIn;
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }

  to {
    opacity: 0;
  }
}

.zoomOut {
  animation-name: zoomOut;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: flex-start;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 5% 10% 0%;
}

.todoItem {
  display: flex;
  width: 100%;
  margin: 1%;
  box-shadow: -10px 10px 12px rgba(27, 28, 31, 0.3);
  border-radius: 1px 100px 1px 100px;
  background: linear-gradient(
    to left,
    rgba(37, 36, 57, 0.3) 17%,
    rgba(44, 83, 100, 0.3) 100%
  );
}

.todoItem:hover {
  border-radius: 1px 100px 1px 100px;
}

.todoStringContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex: 1;
}

.todoTitle {
  font-size: 20px;
  min-height: 40%;

  font-weight: 100;
}

.todoDescription {
  padding: 20px;
  min-height: 60%;
  font-weight: 200;
}

.reactWindowTitleBar {
  background-color: #252439 !important;
}

.appWrapper {
  padding-top: 31px;
  padding-left: 210px;
  height: 100vh;
  width: 100%;
}

.centerWrapper {
  display: flex;
  align-items: center;
  align-content: center;
  height: 100%;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.item {
  font-family: 'Segoe UI';
  font-weight: 100;
}

.item .active,
.header {
  font-weight: 300 !important;
}

.left-menu {
  margin-top: 1.9em !important;

  overflow-y: auto !important;
  background: #252439 !important;
}

.todoInput {
  width: 100%;
  min-height: 200px;
  padding: 10px;
  display: flex;
  align-items: center;
  align-content: center;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  box-shadow: -10px 10px 12px rgba(27, 28, 31, 0.3);
  border-radius: 10px 20px;
  background: linear-gradient(
    to left,
    rgba(37, 36, 57, 0.3) 17%,
    rgba(44, 83, 100, 0.3) 100%
  );
}

.todoAddButton {
  border-radius: 10px 20px;
  margin-top: 10px;
  padding: 10px;
  background: #2c5364;
  border: solid 1px #3f83a0;
  transition: all 0.2s;
}

.todoAddButton:hover {
  border-radius: 20px 10px;
  background: #488aa7;
  color: white;
  cursor: pointer;
}

.todoAddButton:active {
  transform: scale(1.1);
  box-shadow: 3px 3px 6px rgba(27, 28, 31, 0.3);
}
